<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Configurar PC{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="css/main.css">
      
  </head>
    <body>
        {% block header %}
            <header>
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Motherboard</a></li>
                    <li><a href="">Procesador</a></li>
                    <li><a href="">Disco Duro</a></li>
                    <li><a href="">Gráficos</a></li>
                    <li><a href="">RAM</a></li>
                    <li><a href="">Gabinete</a></li>
                    <li><a href="">Fuente Poder</a></li>   
                </ul>
            </header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
 <script type="text/javascript" src="js/jquery.js"></script>

 
    </body>
</html>
