{% extends 'base.html.twig' %}

{% block body %}
    
	<div class="root">
		<div class="title-top">CONFIGURADOR DE PC A MEDIDA</div>
		<div class="content-top">
			<H3>¡Haz tu computadora por piezas o PC a la carta!</H3>
			<p>Utiliza nuestro configurador para hacer tu PC a la medida. Solo tienes que elegir los componentes y el sistema te mostrará el precio final.</p>
		</div>
                <p id="parrafo_comenzar"><button id="comenzar">Comenzar</button></p>
                
                <div class="content">
                    <div class="step">
			<div class="top-step">
				<span>Paso 1</span>
				<h3>Elige la marca del procesador</h3>
			</div>
			<div class="main-step">
				<a href="1"><img src="img/amd.png"></a>
				<a href="2"><img src="img/intel.png"></a>
				<a href="3"><img src="img/nvidia.png"></a>		
			</div>
			
                    </div>
                    <div class="pccomponents">
                       <div class="top-components">
				<h3>Tu computadora</h3>
			</div>
                        <div class="main-components">
                            
                        </div>
			
                    </div>
                </div>
		
                

	</div>
    
     <script type="text/javascript" src="js/jquery.js"></script>
 <script>
     
      $('#comenzar').on("click",function(){
          $(this).css({display:"none"});
          
        $('.content').fadeIn(1000,"swing",function(){
                      $(this).css({display:"flex"});
        });

      });
        
 </script>
    
{% endblock %}

{% block stylesheets %}
{% endblock %}
