@import url('https://fonts.googleapis.com/css?family=PT+Sans');

*{
	margin: 0px;
	padding: 0px;
}

body{
/*    background-color: #5793F7;*/
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #5793F7;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

header{
	display: flex;
        justify-content: space-around;
	background-color: #5793F7;
	height: 80px;
	width: 100%;
	margin-bottom: 40px;
}
header .content-logo{
    display: flex;
    width: 40%;
    padding-left: 100px;
   align-items: center;
 
}
header .content-logo h2{
   color:white;
   font-family: 'PT Sans', sans-serif;
   margin: 0px 10px;
}
header ul{
    display: flex;
    justify-content: flex-end;
    width: 60%;
}
header ul li{
    display: flex;
    align-items: center;
    margin:0px 10px;
    padding:0px 5px;
    /*background-color: yellow;*/
    list-style: none;
}

header ul li:hover{
    background-color:darkblue;
    
}

header ul li a{
   text-decoration: none;
   color:white;
   margin: 10x;
  font-family: 'PT Sans', sans-serif; 
}

.root{
	padding: 0px 100px;
	color: black;
	/*background-color: black;*/
}


.content-cargando{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
}
#cargando{
   
}
.title-top{
	display: flex;
	justify-content: center;
	background-color: #EDECEC;
	border:1px solid #A19E9E;
	padding: 10px 0px;
	font-family: monospace;
	font-size: 20px;
	color:#595858;
	font-weight: bold;
	text-align: center;
}


.content-top{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border:1px solid #A19E9E;
	padding: 10px 0px;
	font-size: 15px;
	text-align: center;
	color: black;
	font-family: 'PT Sans', sans-serif;
}

.content-top h3{
	color: #A19E9E;
}

.step{
	display: flex;
	flex-direction: column;
	height: 100%;
        width: 70%;
	/*background-color: red;*/
       
}

#parrafo_comenzar{
    display: flex;
    width: 100;
    justify-content: center;
}
#parrafo_comenzar button {
    margin-top: 10px;
    padding: 5px 8px;
    background-color: #6d6;
    border-style: none;
    font-family: 'PT Sans', sans-serif;
    color:white;
}
#parrafo_comenzar button:hover{
    cursor: pointer;
}
.top-step{
	display: flex;
	/*background-color: black;*/
	align-items: center;
	color: gray;
	font-family: 'PT Sans', sans-serif;
        padding: 2px;
}

.top-step span{
	padding: 10px;
	background-color: #5793F7;
	margin-right: 10px;
	color: white;	
	font-weight: bold;
	text-align: center;
}

.main-step-step .target-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    flex-shrink:0;
    flex-grow:0;
    height: 100%;
    margin: 0px 2.5px;
}

.main-step-step .target-component .descripcion{
    color: #5793F7;
    text-align: center;
    margin: 3px;
}
.main-step-step .target-component .precio{
    text-align: center;
    font-weight: bold;
}

.main-step{
	display: flex;
        width: 100%;
	align-items:center;
	flex-direction: row;
	background-color: white;
	height: 100%;
	border:1px solid #A19E9E;
	justify-content: space-around;
        color:black;
	font-family: 'PT Sans', sans-serif;
        overflow-x: scroll;
        overflow-y: hidden;
}
.main-step-step{
	display: flex;
        width: 100%;
	align-items:center;
	flex-direction: row;
	background-color: white;
	height: 100%;
	border:1px solid #A19E9E;
        color:black;
	font-family: 'PT Sans', sans-serif;
        overflow-x: scroll;
        overflow-y: hidden;
}

.main-step-step img{
	width: 130px;
	height: 110px;
	cursor: pointer;
}
.main-step img{
	width: 150px;
	height: 130px;
	cursor: pointer;
}

.content{
    display: none;
    width: 100%;
    height:350px;
    /*background-color: red;*/
    margin-top: 40px;
}

.pccomponents{
    display:flex;
    height: 100%;
    width:30%;
    margin-left: 10px;
    flex-direction: column;
/*    background-color: red;*/
    
    
    
}

.top-components{
	display: flex;
	/*background-color: black;*/
        justify-content: center;
        padding: 9px;
	color: gray;
	font-family: 'PT Sans', sans-serif;
/*        background-color: yellow;*/
}

.main-components{
    display: flex;
    padding: 1px;
    flex-direction: column;
    height: 100%;
    widht:100%;
    background-color:white;
    border:1px solid #5793F7;
    border-bottom: 1px solid white;
    color:black;
    overflow-y: scroll;
   
}
.main-components div{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-basis: 80px;
    font-size: 13px;
    padding: 2px;
    justify-content: space-around;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}

.footer-components{
    display: flex;
    height: 40px;
    width:100%;
    justify-content: flex-end;
    border-left:1px solid #5793F7;
    border-bottom:1px solid #5793F7;
    
}

.footer-components span{
    display: flex;
    background-color:black;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    width: 80px;
    height: 100%;
    font-weight: bold;
    color:white;
}

.footer-components .botones{
    display: none;
    width:80%;
    justify-content: flex-end;
    align-items: center;
    color:black;
}

.footer-components .botones a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 10px;
}


.footer-components .botones a:hover{
    cursor: pointer;
    color:#5793F7;
}
/* STYLE FOR LIST PAGES*/
.main-list{
    display: flex;
    width:100%;
    /*background-color: red;*/
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.main-list .div_element{
    display: flex;
    width:30%;
    height: 230px;
    flex-direction: column;
    /*background-color: blue;*/
    padding: 10px;
    border:1px solid #A19E9E;
    justify-content: center;
    align-items: center;
    flex-flow: 1;
    margin: 5px;
    font-family: 'PT Sans', sans-serif;
    
}

.main-list .div_element:hover{
    border:1px solid #5793F7;
}

.div_element img{
    width: 130px;
    height: 110px;
}

.div_element .descripcion{
    color: #5793F7;
    text-align: center;
    margin: 3px;
}

.div_element .precio{
    text-align: center;
    font-weight: bold;
}
.encabezado-list{
    display: flex;
    width:100%;
    /*background-color: red;*/
    padding: 5px 15px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.encabezado-list a{
    text-decoration: none;
    color:#5793F7;
    font-size: 40px;
}
.encabezado-list h1{
    font-family: 'PT Sans', sans-serif!important; 
}