<!DOCTYPE html>
<html>
   <head>
       
        <meta charset="UTF-8" />
        <title>{% block title %}Configurar PC{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
              crossorigin="anonymous">
        <!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
      
  </head>
    <body>
        {% block header %}
            <header>
                <div class="content-logo">
                    <img src="{{asset('img/logoPc13.png')}}" width="80px">
                </div>
                
                <ul>
                    <li><a href="{{path('app_index')}}">Inicio</a></li>
                    <li><a href="">Motherboard</a></li>
                    <li><a href="{{path('list_procesadores')}}">Procesador</a></li>
                    <li><a href="">Disco Duro</a></li>
                    <li><a href="">Gráficos</a></li>
                    <li><a href="">RAM</a></li>
                    <li><a href="">Gabinete</a></li>
                    <li><a href="">Fuente Poder</a></li>   
                </ul>
            </header>
        {% endblock %}
        {% block body %}{% endblock %}
        
        
        <script type="text/javascript" src="js/jquery.js"></script>

 
    </body>
</html>
