{% extends 'AppBundle:Layout:template.html.twig' %}

{% block body %}
    
	<div class="root">
		<div class="title-top">CONFIGURADOR DE PC A MEDIDA</div>
		<div class="content-top">
			<H3>¡Haz tu computadora por piezas o PC a la carta!</H3>
			<p>Utiliza nuestro configurador para hacer tu PC a la medida. Solo tienes que elegir los componentes y el sistema te mostrará el precio final.</p>
		</div>
                <p id="parrafo_comenzar"><button id="comenzar">Comenzar</button></p>
                <div class="content-cargando">
                    <img id="cargando" width="200" height="120" src="{{asset('img/cargando.gif')}}">
                </div>
                
                
                <div class="content">
                    <div id="step1" class="step">
			<div class="top-step">
				<span>Paso 1</span>
				<h3>Elige la marca del procesador</h3>
			</div>
			<div class="main-step">
                            {% for marca in marcas_procesador %}
				<img id="{{marca.id}}" src="{{asset('img/')}}{{marca.img}}">
                            {% endfor %}
			</div>
			
                    </div>
                    <div id="step2" class="step">
			<div class="top-step">
				<span>Paso 2</span>
				<h3>Elige el procesador</h3>
			</div>
			<div class="main-step-step">
                          
			</div>
			
                    </div>
                    <div id="step3" class="step">
			<div class="top-step">
				<span>Paso 3</span>
				<h3>Elige la Tarjeta Madre</h3>
			</div>
			<div class="main-step-step">
                          
			</div>
			
                    </div>
                     <div id="step4" class="step">
			<div class="top-step">
				<span>Paso 4</span>
				<h3>Elige la Memoria RAM</h3>
			</div>
			<div class="main-step-step">
                          
			</div>
			
                    </div>
                    <div id="step5" class="step">
			<div class="top-step">
				<span>Paso 5</span>
				<h3>Elige el Disco Duro</h3>
			</div>
			<div class="main-step-step">
                          
			</div>
			
                    </div>
                     <div id="step6" class="step">
			<div class="top-step">
				<span>Paso 6</span>
				<h3>Elige la Tarjeta Gráfica</h3>
			</div>
			<div class="main-step-step">
                          
			</div>
			
                    </div>
                     <div id="step7" class="step">
			<div class="top-step">
				<span>Paso 7</span>
				<h3>Elige el Gabinete</h3>
			</div>
			<div class="main-step-step">
                          
			</div>
			
                    </div>
                    <div id="step8" class="step">
			<div class="top-step">
				<span>Paso 8</span>
				<h3>Elige la Fuente de Poder</h3>
			</div>
			<div class="main-step-step">
                          
			</div>
			
                    </div>
                    <div class="pccomponents">
                       <div class="top-components">
				<h3>Tu computadora</h3>
			</div>
                        <div class="main-components">
                            
                        </div>
                        <div class="footer-components">
                            <div class="botones">
                               <a class="far fa-save"></a>
                               <a class="far fa-file-pdf"></a>
                                
                            </div>
                            <span>$0.00</span>
                        </div>
			
                    </div>
                        
                   
                </div>
		
                

	</div>
    
     <script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
 <script>
     
     $(document).ready(function(){
        $("#step2").css({display:"none"});
        $("#step3").css({display:"none"}); 
        $("#step4").css({display:"none"}); 
        $("#step5").css({display:"none"}); 
        $("#step6").css({display:"none"}); 
        $("#step7").css({display:"none"}); 
        $("#step8").css({display:"none"}); 
     });
     
      $('#comenzar').on("click",function(){
          $(this).css({display:"none"});
          $(".content-cargando").css({display:"none"});
          
        $('.content').fadeIn(1000,"swing",function(){
                      $(this).css({display:"flex"});
        });

      });
      
      var ids=[];
      var idRef=[];
      var precioT=[];
      var precioTotal=0;
      
      // STEP 1
      $("#step1 .main-step img").on("click",function(){
          
          var id = parseInt($(this).attr("id"));
          var source =$(this).attr("src");
          
         ids.push(id);
         idRef.push(id);
         console.log(idRef);
           
         
           
        // AJAX
         var data={
               id_procesador:id
           }
           
          console.log(data);
          
           $.ajax({
                type: 'POST',
                url: "{{path('procesadores')}}",
                data: data,
                success: function (result) {
                    
                    $.each(result, function (k, v) {
                        
                    $('#step2 .main-step-step').append(`
                        <div class="target-component">
                            <img id="`+v.p_id+`" onclick="step2(precio=`+v.p_precio+`,id=`+ids[0]+`,ref=`+v.p_id+`,descrip='`+v.p_descripcion+`',sour='{{asset('img/')}}`+v.p_img+`')" src="{{asset('img/`+v.p_img+`')}}">
                             <span class="descripcion">`+v.p_descripcion+`</span>
                             <span class="precio">`+"$"+v.p_precio+`</span>
                         </div> `);
                   // $('#step2 .main-step').append('<img src="img/'+v.p_img+'">');
                    //$('#step2 .main-step').append('<span>'+v.p_precio+'</span>');
                    });
                   
                    
                },
                complete : function(xhr, status) {
                    //alert("se realizo la peticion");
                }
            }
            );
     
           
           
          //desaparesco step1 y pinto el step2
          $("#step1").css({display:"none"});
              
          $("#step2").fadeIn(1000,"swing",function(){
                      $(this).css({display:"flex"});
                      
        });
        
         //Pinto componente en div 'TU COMPUTADORA'
          //$(".main-components").append("<img width='80px' height='80px' src="+ source +">");
         
           
      });
        
        
        
        
        
        
        
        
        
        //STEP 2
        function step2(precio,id,ref,descrip,sour){
            //Pinto componente en div 'TU COMPUTADORA'
          $(".main-components").append(`
                <div>
                    <img width='80px' height='80px' src="`+sour+`">
                    <span>`+descrip+`</span>
                </div>`);        
            ids.push(id);
            idRef.push(ref);
            console.log(idRef);
            
            precioT.push(precio);
            
           precioTotal+=precio;
            $('.footer-components span').html("$"+precioTotal);
            
            // AJAX
         var data={
               id_tarjeta:id
           }
           
           console.log("id marca procesador"+data.id_tarjeta);
          
           $.ajax({
                type: 'POST',
                url: "{{path('tarjetas')}}",
                data: data,
                success: function (result) {
                    
                    $.each(result, function (k, v) {
                        console.log(v);
                        $('#step3 .main-step-step').append(`
                        <div class="target-component">
                            <img id="`+v.m_id +`" onclick="step3(precio=`+v.m_precio+`,id=`+v.m_id+`,ref=`+v.m_id+`,descrip='`+v.m_descripcion+`',sour='{{asset('img/')}}`+v.m_img+`')" src="{{asset('img/')}}`+v.m_img+`">
                             <span class="descripcion">`+v.m_descripcion+`</span>
                             <span class="precio">`+"$"+v.m_precio+`</span>
                         </div> `);
                    
                    });
                   
                    
                },
                complete : function(xhr, status) {
                    //alert("se realizo la peticion");
                }
            }
            );
     
            //desaparesco step2 y pinto el step3
          $("#step2").css({display:"none"});
              
          $("#step3").fadeIn(1000,"swing",function(){
                      $(this).css({display:"flex"});
                      
            });
            
            
        }
        
        
        
        //STEP 3
        function step3(precio,id,ref,descrip,sour){
            //Pinto componente en div 'TU COMPUTADORA'
          $(".main-components").append(`
                <div>
                    <img width='80px' height='80px' src="`+sour+`">
                    <span>`+descrip+`</span>
                </div>`);  
        
            ids.push(id);
            idRef.push(ref);
            console.log(idRef);
            precioT.push(precio);
            
           precioTotal+=precio;
            $('.footer-components span').html("$"+precioTotal);
            
            // AJAX
         var data={
               id_ram:id
           }
           
           console.log("id marca procesador"+data.id_ram);
          
           $.ajax({
                type: 'POST',
                url: "{{path('memorias')}}",
                data: data,
                success: function (result) {
                    
                    $.each(result, function (k, v) {
                        console.log(v);
                        $('#step4 .main-step-step').append(`
                        <div class="target-component">
                            <img id="`+v.r_id +`" onclick="step4(precio=`+v.r_precio+`,id=`+ids[2]+`,ref=`+v.r_id+`,descrip='`+v.r_descripcion+`',sour='{{asset('img/')}}`+v.r_img+`')" src="{{asset('img/')}}`+v.r_img+`">
                             <span class="descripcion">`+v.r_descripcion+`</span>
                             <span class="precio">`+"$"+v.r_precio+`</span>
                         </div> `);
                    
                    });
                   
                    
                },
                complete : function(xhr, status) {
                    //alert("se realizo la peticion");
                }
            }
            );
     
            //desaparesco step3 y pinto el step4
          $("#step3").css({display:"none"});
              
          $("#step4").fadeIn(1000,"swing",function(){
                      $(this).css({display:"flex"});
                      
            });
            
            
        }
        
        
        
        
        
        //STEP 4
        function step4(precio,id,ref,descrip,sour){
            //Pinto componente en div 'TU COMPUTADORA'
          $(".main-components").append(`
                <div>
                    <img width='80px' height='80px' src="`+sour+`">
                    <span>`+descrip+`</span>
                </div>`);  
        
            ids.push(id);
            idRef.push(ref);
            console.log(idRef);
            precioT.push(precio);
            
            precioTotal+=precio;
            $('.footer-components span').html("$"+precioTotal);
            
            // AJAX
         var data={
               id_disco:id
           }
           
           console.log("id disco duro"+data.id_disco);
          
           $.ajax({
                type: 'POST',
                url: "{{path('discos')}}",
                data: data,
                success: function (result) {
                    
                    $.each(result, function (k, v) {
                        console.log(v);
                        $('#step5 .main-step-step').append(`
                        <div class="target-component">
                            <img id="`+v.d_id +`" onclick="step5(precio=`+v.d_precio+`,id=`+ids[2]+`,ref=`+v.d_id+`,descrip='`+v.d_descripcion+`',sour='{{asset('img/')}}`+v.d_img+`')" src="{{asset('img/')}}`+v.d_img+`">
                             <span class="descripcion">`+v.d_descripcion+`</span>
                             <span class="precio">`+"$"+v.d_precio+`</span>
                         </div> `);
                    
                    });
                   
                    
                },
                complete : function(xhr, status) {
                    //alert("se realizo la peticion");
                }
            }
            );
     
            //desaparesco step4 y pinto el step5
          $("#step4").css({display:"none"});
              
          $("#step5").fadeIn(1000,"swing",function(){
                      $(this).css({display:"flex"});
                      
            });
            
            
        }
        
        
        
        //STEP 5
        function step5(precio,id,ref,descrip,sour){
            //Pinto componente en div 'TU COMPUTADORA'
          $(".main-components").append(`
                <div>
                    <img width='80px' height='80px' src="`+sour+`">
                    <span>`+descrip+`</span>
                </div>`);  
        
            ids.push(id);
            idRef.push(ref);
            console.log(idRef);
            precioT.push(precio);
            
            precioTotal+=precio;
            $('.footer-components span').html("$"+precioTotal);
            
            // AJAX
         var data={
               id_graficos:id
           }
           
           console.log("id grafico"+data.id_graficos);
          
           $.ajax({
                type: 'POST',
                url: "{{path('graficos')}}",
                data: data,
                success: function (result) {
                    
                    $.each(result, function (k, v) {
                        console.log(v);
                        $('#step6 .main-step-step').append(`
                        <div class="target-component">
                            <img id="`+v.g_id +`" onclick="step6(precio=`+v.g_precio+`,id=`+ids[2]+`,ref=`+v.g_id+`,descrip='`+v.g_descripcion+`',sour='{{asset('img/')}}`+v.g_img+`')" src="{{asset('img/')}}`+v.g_img+`">
                             <span class="descripcion">`+v.g_descripcion+`</span>
                             <span class="precio">`+"$"+v.g_precio+`</span>
                         </div> `);
                    
                    });
                   
                    
                },
                complete : function(xhr, status) {
                    //alert("se realizo la peticion");
                }
            }
            );
     
            //desaparesco step5 y pinto el step6
          $("#step5").css({display:"none"});
              
          $("#step6").fadeIn(1000,"swing",function(){
                      $(this).css({display:"flex"});
                      
            });
            
            
        }
        
        
        
        
        //STEP 6
        function step6(precio,id,ref,descrip,sour){
            //Pinto componente en div 'TU COMPUTADORA'
          $(".main-components").append(`
                <div>
                    <img width='80px' height='80px' src="`+sour+`">
                    <span>`+descrip+`</span>
                </div>`);  
        
            ids.push(id);
            idRef.push(ref);
            console.log(idRef);
            precioT.push(precio);
            
            precioTotal+=precio;
            $('.footer-components span').html("$"+precioTotal);
            
            // AJAX
         var data={
               id:0
           }
           
           console.log("id grafico"+data.id_graficos);
          
           $.ajax({
                type: 'POST',
                url: "{{path('gabinetes')}}",
                data: data,
                success: function (result) {
                    
                    $.each(result, function (k, v) {
                        console.log(v);
                        $('#step7 .main-step-step').append(`
                        <div class="target-component">
                            <img id="`+v.g_id+`" onclick="step7(precio=`+v.g_precio+`,id=`+v.g_id+`,ref=`+v.g_id+`,descrip='`+v.g_descripcion+`',sour='{{asset('img/')}}`+v.g_img+`')" src="{{asset('img/')}}`+v.g_img+`">
                             <span class="descripcion">`+v.g_descripcion+`</span>
                             <span class="precio">`+"$"+v.g_precio+`</span>
                         </div> `);
                    
                    });
                   
                    
                },
                complete : function(xhr, status) {
                    //alert("se realizo la peticion");
                }
            }
            );
     
            //desaparesco step6 y pinto el step7
          $("#step6").css({display:"none"});
              
          $("#step7").fadeIn(1000,"swing",function(){
                      $(this).css({display:"flex"});
                      
            });
            
            
        }
        
        
        
        
        //STEP 7
        function step7(precio,id,ref,descrip,sour){
            //Pinto componente en div 'TU COMPUTADORA'
          $(".main-components").append(`
                <div>
                    <img width='80px' height='80px' src="`+sour+`">
                    <span>`+descrip+`</span>
                </div>`);  
        
            ids.push(id);
            idRef.push(ref);
            console.log(idRef);
            precioT.push(precio);
            
            precioTotal+=precio;
            $('.footer-components span').html("$"+precioTotal);
            
            // AJAX
         var data={
               id:0
           }
           
           console.log("id grafico"+data.id_graficos);
          
           $.ajax({
                type: 'POST',
                url: "{{path('fuentes')}}",
                data: data,
                success: function (result) {
                    
                    $.each(result, function (k, v) {
                        console.log(v);
                        $('#step8 .main-step-step').append(`
                        <div class="target-component">
                            <img id="`+v.f_id+`" onclick="step8(precio=`+v.f_precio+`,id=`+v.f_id+`,ref=`+v.f_id+`,descrip='`+v.f_descripcion+`',sour='{{asset('img/')}}`+v.f_img+`')" src="{{asset('img/')}}`+v.f_img+`">
                             <span class="descripcion">`+v.f_descripcion+`</span>
                             <span class="precio">`+"$"+v.f_precio+`</span>
                         </div> `);
                    
                    });
                   
                    
                },
                complete : function(xhr, status) {
                    //alert("se realizo la peticion");
                }
            }
            );
     
            //desaparesco step7 y pinto el step8
          $("#step7").css({display:"none"});
              
          $("#step8").fadeIn(1000,"swing",function(){
                      $(this).css({display:"flex"});
                      
            });
            
            
        }
        
        
        
        
         //STEP 8
        function step8(precio,id,ref,descrip,sour){
            //Pinto componente en div 'TU COMPUTADORA'
          $(".main-components").append(`
                <div>
                    <img width='80px' height='80px' src="`+sour+`">
                    <span>`+descrip+`</span>
                </div>`);  
        
            ids.push(id);
            idRef.push(ref);
            console.log(idRef);
            precioT.push(precio);
            
            precioTotal+=precio;
            $('.footer-components span').html("$"+precioTotal);
     
            //desaparesco step8 y agrando main-components
          $("#step8").css({display:"none"});
          $(".main-components").css({"width":"40%","flex-grow":"0"});
          $(".footer-components").css({"width":"40%","flex-grow":"0","justify-content": "flex-end"});
          $(".pccomponents").css({"width":"100%","justify-content":"center","align-items":"center"});
          $(".footer-components .botones").css({"display": "flex"});
            
        }

 </script>
    
{% endblock %}

