{% extends 'AppBundle:Layout:template.html.twig' %}
    

{% block body %}
    <div class="root">
        
        <div class="encabezado-list">
            <h1>PROCESADORES</h1>
            <a href="#ex1" rel="modal:open" class="fa fa-plus-circle"></a>
        </div>
        
        <div class="main-list">
           
            {% for proces in procesadores %}
                <div class="div_element">
                    <img id="{{proces.id}}" src="{{asset('img/')}}{{proces.img}}">
                    <span class="descripcion">{{proces.descripcion}}</span>
                    <span class="precio">${{proces.precio}}</span>     
                </div>
            {% endfor %}
            
        
        </div>
            
            
        <div id="ex1" class="modal">
            <p>AQUI PONER EL FORMULARIO</p>
            
        </div>
    </div>
{% endblock body %}
